
# ~$cumentation_Episcan.docx
Epigen_simulations/inds_12000_snps_1000_model_causal_2_marginal_0_interaction_1.txt
Epigen_simulations/inds_12000_snps_1000_model_causal_2_marginal_1_interaction_1.txt
Epigen_simulations/inds_12000_snps_1000_model_causal_4_marginal_0_interaction_2.txt
Epigen_simulations/inds_12000_snps_1000_model_causal_8_marginal_0_interaction_4.txt
Epigen_simulations/inds_3000_snps_10000_model_causal_8_marginal_1_interaction_4.txt
Epigen_simulations/inds_3000_snps_1000_model_causal_2_marginal_0_interaction_1.txt
Epigen_simulations/inds_3000_snps_100_model_causal_1_marginal_1_interaction_0.txt
Epigen_simulations/inds_3000_snps_100_model_causal_2_marginal_0_interaction_1.txt
Epigen_simulations/inds_3000_snps_100_model_causal_2_marginal_1_interaction_1.txt
Epigen_simulations/inds_3000_snps_50000_model_causal_8_marginal_1_interaction_4.txt
